.why-us h3 {
  padding-top: 10%;
}

.why-us h6 {
  font-weight: bold;
  padding-top: 5px;
}

.card-body img {
  padding-bottom: 20px;
}
.why-us .card-body {
  cursor: pointer;
  padding-right: 50px;
  font-weight: bold;
  max-width: 300px;
}

.cardwrapper {
  display: flex;
  gap: 32px;
}

.icon {
  width: 32px;
}

@media screen and (max-width: 576px) {
  #why-us-us {
    padding-top: 10%;

    display: flex;
  }

  .row {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }

  .whyy {
    margin-top: 20px;

    padding-right: 50px;
  }

  .whyy h3 {
    margin-top: 20px;
    text-align: center;
  }
}
