






@media screen and (max-width: 576px) {
    .header-hero-text {
      margin-top: 90px;
    }
  
    .faqq {
      padding-top: 10%;
      margin-top: 30px;
      margin-left: 26px;
    }
    
  }
  

    